[submodule "apps/qtcloud-health"]
	path = apps/qtcloud-health
	url = https://github.com/quanttide/qtcloud-health.git
[submodule "packages/quanttide-health-toolkit"]
	path = packages/quanttide-health-toolkit
	url = https://github.com/quanttide/quanttide-health-toolkit.git
[submodule "examples/default"]
	path = examples/default
	url = https://github.com/quanttide/quanttide-laboratory-of-health-management.git
[submodule "data/context"]
	path = data/context
	url = https://github.com/quanttide/quanttide-context-of-health-management.git
[submodule "data/journal"]
	path = data/journal
	url = https://github.com/quanttide/quanttide-journal-of-health-management.git
[submodule "data/intention"]
	path = data/intention
	url = https://github.com/quanttide/quanttide-intention-of-health-management.git
[submodule "data/profile"]
	path = data/profile
	url = https://github.com/quanttide/quanttide-profile-of-health-management.git
[submodule "apps/qthealth"]
	path = apps/qthealth
	url = https://github.com/quanttide/qthealth.git
